
.sidebar {
    width: 250px;
    background: #111;
    height: 100vh;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}


.sidebar-title {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}


.sidebar-menu li {
    padding: 15px;
    color: #ddd;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}


.sidebar-menu li.active,
.sidebar-menu li:hover {
    background: #333;
    border-radius: 5px;
}
